:root {
    --bg-color: #F2C94C;
    --font-color: black;
    --width-break: 600px;
}


body{
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

.container-center{
    max-width: var(--width-break);
    margin:0 auto;
}

nav {
    max-height: 200px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav h1 {
    color: var(--font-color);
    font-size: 2rem;
}

main {
    padding: 1rem;
    margin: auto;
    display: block;
}

textarea{
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    padding: 1rem;
    overflow-y:scroll;
    border:0.1rem grey solid;
}

.submitBtn {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
}

footer {
    position: fixed;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
    bottom: 0;  
    padding: 0.5rem 0;
    max-height: 100px;
}

footer h2{
    font-size: 1.5rem;
    margin: 0 ;
}

footer p{
    margin: 0 ;
}

